@using blazor_wasm.Client.Pages.TemplatePages.TemplateItems
@using blazor_wasm.Client.Pages.TemplatePages.TemplateItems.Inherits
@inherits TemplateItemRenderTree

<button @onclick="@Test">test</button>
<canvas id="TestChart">

</canvas>

@code {

}
