.flex-wireframe {
    display: flex;
    height: 100%;
}

.display-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-item {
    flex: 1;
    overflow: auto;
}

.flex-grow-true {
    flex-grow: 1;
}

.flex-grow-false {
    flex-grow: 0;
}

.flex-shrink-true {
    flex-shrink: 1;
}

.flex-shrink-true {
    flex-shrink: 0;
}

.flex-basis-true {
    flex-basis: auto;
}

.flex-center {
    margin: 0 auto;
}

.flex-left {
    margin-left: auto;
}

.flex-right {
    margin-right: auto;
}

.flex-footer {
    margin-top: auto;
}

.flex-item-align-center {
    align-items: center;
}

.flex-item-justify-content-center {
    justify-content: center;
}

.text-align-center {
    text-align: center;
}
